body {
	font-family:monospace;
	background-color: black;
	color: white;
}

h1 {
  color: #888;
  display:inline-block;
}

h2 {
  color: #AAA;
  display: inline-block;
}

h3 {
  display: inline-block;
}

.auth {
	float:right;
	width:150px;
}

#profile-pic {
	width:40px;
	height:40px;
	float:left;
	margin-right:6px;"
}

.time {
}

.note {
}

.note-prompt {
  font-style: italic;
  color:#777;
}

.category {
}

.type {
}

.error {
  color: #FF4444;
}

.entry-container {
  animation: new-entry 2s ease;
  outline: 2px black solid;
}

#feed-analysis {
  color: #FF4444;
}

#sleep-analysis {
  color: #FF4444;
}

#last-feed-time {
  color: #FF4444;
}

#last-sleep-time {
  color: #FF4444;
}

#next-side {
  color: #FF4444;	
}

#csv-wrapper {
  position: relative;
  padding-top: 10px;
}

#csv-textarea {
  position: absolute;
  left: 50px;
  top: -300px;
  height: 300px;
  width: 400px;
  font-family:monospace;
  background-color: #555;
  color: white;
  white-space: nowrap;
  overflow: scroll;
  resize: none;
  border-width: 0px;
}

button {
	background-color: #555;
	border: 2px #444 solid;
	color: white;
	font-family:monospace;
	margin: 2px 0 2px 0;
}

input {
	background-color: #444;
	border: 2px #555 solid;
	color: white;
	margin: 2px;
	font-family:monospace;
}

select {
	background-color: #555;
	border: 2px #444 solid;
	color: white;	
	font-family:monospace;
}

@keyframes new-entry {
    0% {
        opacity: 0;
        outline-color: #F00;
    }
    30% {
    	opacity: 1;
    }
    100% {
        outline-color: #000;
    }
}